</div>
</div>
</div>
</div>
</section>
<!-- Jquery Core Js -->
   <script src="/plugins/jquery/jquery.min.js"></script>

   <!-- Bootstrap Core Js -->
   <script src="/plugins/bootstrap/js/bootstrap.js"></script>

   <!-- Select Plugin Js -->
   <script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>

   <!-- Slimscroll Plugin Js -->
   <script src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

   <!-- Bootstrap Notify Plugin Js -->
   <script src="/plugins/bootstrap-notify/bootstrap-notify.js"></script>

   <!-- Waves Effect Plugin Js -->
   <script src="/plugins/node-waves/waves.js"></script>

   <!-- Custom Js -->
   <script src="/js/admin.js"></script>

   <!-- Demo Js -->
   <script src="/js/demo.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
