<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
body{
margin: 0;
padding: 0%;
background: url(/images/lpb.jpg) 50% 50% no-repeat;
background-size: cover;
width: 100%;
height: 100%;
}


.container{
margin-top: 250px;
}

h1{
text-align: center;
color: rgb(5, 76, 112);
font-size: 50px;
font-weight: bold;
text-transform: uppercase;

text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);


}

p{
text-align: center;
color: white;
font-weight: lighter;
letter-spacing: 10px;
font-size: 20px;
}
.btn-lp{
    margin-top: 80px;
    align-self: center;
    margin-left: 0px;
    /* background: linear-gradient(to bottom left, #83c8f0 40%, #022d49 100%); */


    
}
button{
border-style: none;
letter-spacing: 1px;
font-size: 50px;
/* background-color: rgb(114, 225, 245); */
/* box-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%); */
background: linear-gradient(to bottom left, #83c8f0 40%, #022d49 100%);
margin-left: 550px;
}

@media(max-width:768px){
h1{
font-size: 40px;
}
P{
font-size: 30px;
letter-spacing: 2px;
}
body{
width: 100%;
height:auto;    
}
.container{
margin-top: 200px;
}
.btn-lp{
    margin-left: 180px;
    margin-top: 60px;
}
button{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
}     
    </style>
</head>
<body>
    <body>
        <div class="container">
        <h1>CLINOPLUS-Your Healthcare</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod anim id est laborum.</p>
        <div class="btn-lp"> <a href="/home" style="text-decoration: none; color: #022d49; font-family: cursive;">  <button>View More</a></button>
            </div>
        </div>
        </body> 
</body>
</html>